
#screen-box {
    text-align: center;
    margin-top: 8%;
}
#screen {
    display: none;
    margin: 0 auto;
    background: #eee;
    border: 1px solid #222;
    text-align: left;
    padding: 1px;
}
.p {
    display: inline-block;
    background: #aaa;
}
.p-light {
    background: #444;
}

